/*.container {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}*/

#header {
    position: fixed;
    background-color: #D4D5D7;
    width: 604.5px;
    z-index: 1000;
    padding-left: 128px;
    padding-bottom: 32px;
    padding-top: 64px;


}

.my_container {
    /*background-color: #D4D5D7;*/
    /*width: 100%;*/
    /*position: fixed;*/
}

#portrait {
    position: fixed;
    /*width: 100%;*/
    float: left;
    min-width: 1209px;
}

#content-box {
    position: absolute;
    float: left;
    width: 604.5px;
    background-color: #D4D5D7;
    padding-left: 128px;
    padding-top: 214px;
    padding-bottom: 64px;
}

#words {
    width: 100%;
    float: left;
    background-color: #D4D5D7;
}

#connect_list {
    padding-left: 0;
    padding-top: 19px;
}

#connect_list li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
